<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.hellodati.launcher.DATA_ACCESS_PERMISSION"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <package android:name="com.simplemobiletools.dati_dialer" />
        <package android:name="com.hellodati.wificonfig" />
        <package android:name="com.hellodati.app.mobilehotspot" />
        <package android:name="com.hellodati.torch" />
    </queries>

    <application
        android:name=".HelloDati"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile_launcher_kotlin"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.QRCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_qrcode"
            android:theme="@style/Theme.Mobile_launcher_kotlin.Fullscreen" />

        <provider
            android:name=".providers.HotspotCredentialsProvider"
            android:authorities="com.hellodati.launcher.provider"
            android:exported="true" />

        <activity
            android:name=".ui.activity.TripAdvisorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activity.AuthActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activity.GuideActivity"
            android:exported="false"
            android:theme="@style/Theme.Mobile_launcher_kotlin.NoActionBar" />
        <activity
            android:name=".ui.activity.VideoActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.ConnectionActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ui.activity.CsiLayoutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Mobile_launcher_kotlin.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysVisible">
            <intent-filter>
                <action android:name="com.example.ACTION_SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>

</manifest>